---
import { CreateAuctionForm }  from '../components/client/create-auction-form';
import Root from '../layouts/root.astro';
---

<Root>
  <div class="page-wrapper">
    <CreateAuctionForm client:load />
  </div>
</Root>
