---
import { Login } from '../components/client/login';
---

<nav class="main-menu">
 <div class="menu-left">
   <a href="/">Home</a>
   <a href="/create-auction">Create Auction</a>
 </div>
 <div class="menu-right">
   <Login client:load />
 </div>
</nav>
