---
import '../styles/global.css';
import Menu from './menu.astro';
import { GlobalBidsListener } from '../components/client/global-bids-listener';
const { title } = Astro.params;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="public/favicon.png" />
    <title>{title || 'Just Bazar'}</title>
  </head>
  <body>
    <GlobalBidsListener  client:only="react" />
    <Menu />
    <slot />
    <style is:global>
      body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
          'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
          sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
          monospace;
      }
    </style>
  </body>
</html>
